@charset "utf-8";

header{
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 25px;
}

header svg {
  width: 2.8em;
  height: 2.8em;
  margin: 0 10px;
}

header h1 {
  font-family: Dosis, sans-serif;
  font-size: 3em;
  margin: 15px 0;
}

main{
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-gap: 20px;
}